.quizDetails{

    list-style: none;
    padding: 30px;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    width: 90%;
    font-size: 1.1em;
    margin: 0 0 1em;
    background-color: #c5fcdb;
    display:flex;
    justify-content: space-between;
}


#startbtn{

color: white;
background-color: black;
margin-left: 35%;
margin-top: 30px;
width:20%;
font-size: 20px;
}

/* Popup container */
.popup {
    position: relative;
    justify-items: center;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
body {
  background-color: #1e3869;
}
h3 {
  color: white;
}
#box {
  background-color: white;
  color: black;
}
